* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../images/footer.jpg");
  background-size: cover;
}

.mainPanel1 {
  background: url("../images/wallpaper.jpg") right top fixed no-repeat;
  background-size: cover;
  background-position: center;
}

.scrollButton {
  position: fixed;
  top: 0;
  right: 0;
  width: 10%;
  text-align: center;
  display: block;
  z-index: 1;
}

#scrollToTop {
  display: none;
  width: 6em;
  height: 3em;
  background-color: rgba(5, 160, 0, 0.7);
  box-shadow: 2px 2px rgb(0, 0, 0);
  border-radius: 10%;
  color: white;
  text-shadow: 1px 2px black;
  animation-name: scrollBtnAppear;
  animation-duration: 1s;
}

#scrollToTop span {
  font-size: 150%;
  font-family: 'Neucha', cursive;
}

header {
  max-width: 100%;
  height: auto;
  background: rgba(255, 255, 255, 0);
}

.headerTitle {
  width: 20%;
  display: inline-block;
}

#logo {
  max-width: 85%;
  margin: 2%;
}

#logo:hover {
  animation-name: logoPinch;
  animation-duration: 1.6s;
  animation-fill-mode: forwards;
}

.headerSocial {
  float: right;
  width: 24%;
}

.headerSocial img {
  max-width: 15%;
  margin: 5% 5%;
}

.headerSocial a img:hover {
  animation-name: socialLinkEnlarge;
  animation-duration: 2s;
}

#reddit {
  max-width: 10%;
}

nav {
  width: 50%;
  margin: 6% auto;
  margin-bottom: 10%;
  height: 3vh;
}

#btns {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

#btns li {
  font-family: 'Nunito', sans-serif;
}

#btns li a {
  text-decoration: none;
  font-size: 150%;
  padding: 13%;
  border: solid black;
  border-radius: 10%;
  box-shadow: 3px 3px black;
  color: black;
}

#btns li a:hover {
  animation-name: btnsHover;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.container {
  margin: 0 auto;
  width: 85%;
  display: flex;
  justify-content: space-between;
}

#leftPanel, main, #rightPanel {
  width: 30%;
  border-radius: 5%;
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
  margin-bottom: 5%;
  padding-bottom: 2%;
  overflow: auto;
}

#leftPanel:hover {
  color: rgb(255, 255, 255);
}

#leftPanel h3 {
  background-color: rgba(41, 170, 25, 0.8);
  font-family: 'Caveat', cursive;
  font-size: 1.8em;
  height: auto;
  text-align: center;
  font-size: 1.9em;
  border-radius: 110px;
  width: 100%;
  margin: auto;
}

#leftPanel p, main p, #rightPanel p {
  margin: 4% 5% 0 5%;
  color: rgb(255, 255, 255);
  font-size: 1.1em;
  text-indent: 1.5em;
  line-height: 1.5em;
}

#leftPanel a {
  color: white;
  text-decoration: none;
  font-style: italic;
}

main:hover {
  color: rgb(255, 255, 255);
}

main h3 {
  background-color: rgba(245, 123, 0, 0.8);
  font-family: 'Caveat', cursive;
  font-size: 1.9em;
  height: auto;
  text-align: center;
  border-radius: 110px;
  width: 100%;
  margin: auto;
}

#rightPanel:hover {
  color: rgb(255, 255, 255);
}

#rightPanel h3 {
  background-color: rgba(57, 148, 230, 0.8);
  font-family: 'Caveat', cursive;
  font-size: 1.9em;
  height: auto;
  text-align: center;
  border-radius: 110px;
  width: 100%;
  margin: auto;
}

.newsAndGalleryBackground {
  background: url("../images/wallpaper2.jpg") right top fixed no-repeat;
  background-size: cover;
  background-position: center;
}

.newsAndGallery {
  width: 90%;
  height: auto;
  margin: 0 5%;
  display: flex;
}

.newsAndGallery h4 {
  text-shadow: 1px 1px black;
  color: white;
}

#news {
  width: 50%;
  height: auto;
}

#news h4 {
  margin: 5% auto;
  text-align: center;
  font-size: 2.5em;
  font-family: 'Caveat', cursive;
  background-color: rgba(14, 44, 150, 0.5);
  width: 50%;
  border-radius: 50px;
  color: rgba(255, 255, 255, 0.9);
}

#news h4:hover {
  animation-name: newsTitleHover;
  animation-duration: 2s;
}

#gallery h4:hover {
  animation-name: galleryTitleHover;
  animation-duration: 2s;
}

.newsInfo {
  width: 90%;
  margin: 5% auto;
  height: auto;
  overflow: auto;
  color: white;
  background-color: rgba(25, 25, 26, 0.4);
  border-radius: 2%;
  box-shadow: inset 1px 1px 5px black, inset -1px -1px 5px black;
  display: flex;
}

.newsInfo img {
  max-width: 25%;
  display: inline-block;
  border-radius: 10px;
}

#merch {
  max-width: 20%;
}

.newsInfo p {
  padding: 2.5% 5%;
  font-size: 1.1em;
  line-height: 1.3em;
}

.newsInfo p span {
  display: block;
  text-align: center;
  margin-bottom: 5%;
  font-size: 1.3em;
  font-family: 'Nunito', sans-serif;
}

.newsInfo:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

#gallery {
  width: 50%;
  height: auto;
}

.picturesTitle h4 {
  margin: 5% auto;
  text-align: center;
  font-size: 2.5em;
  font-family: 'Caveat', cursive;
  background-color: rgba(231, 87, 6, 0.5);
  width: 50%;
  border-radius: 50px;
  color: rgba(255, 255, 255, 0.9);
}

.pictures img {
  border: solid black 2px;
  border-radius: 5%;
}

#picture1 {
  max-width: 45%;
  margin-left: 5%;
  margin-bottom: 3.5%;
}

#picture2 {
  max-width: 40%;
  float: right;
  margin-right: 5%;
  margin-bottom: 3.5%;
}

#picture3 {
  max-width: 40%;
  margin-left: 5%;
  margin-bottom: 3.5%;
}

#picture4 {
  max-width: 48%;
  float: right;
  margin-right: 5%;
  margin-bottom: 3.5%;
}

#picture5 {
  max-width: 35%;
  margin-left: 5%;
}

#picture6 {
  max-width: 52%;
  float: right;
  margin-right: 5%;
}

.pictures img:hover {
  animation-name: galleryHover;
  animation-duration: 3s;
}

footer {
  padding: 3% 0 1% 0;
  background-image: url("../images/footer.jpg");
  background-size: cover;
  font-family: 'Neucha', cursive;
  color: rgb(208, 208, 208);
  background-color: rgb(15, 6, 36);
  text-align: center;
}

footer h6 {
  font-size: 1em;
  padding-top: 0.7%;
}

footer h6:hover {
  animation-name: footerAnim;
  animation-duration: 5s;
}

.footerContainer {
  margin: 0 auto;
  width: 90%;
  height: auto;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
}

.footerContainer a {
  text-decoration: none;
  color: rgb(85, 17, 79);
  margin-right: 5%;
  display: inline-block;
  padding-bottom: 0.3%;
  color: rgb(145, 3, 185);
  font-size: 105%;
}

.footerContainer a:hover {
  animation-name: footerLink;
  animation-duration: 2s;
}

/* Animation for mouse hover event on the logo of teamtrees. */
@keyframes logoPinch {
  50% {
    transform: rotateY(40deg);
  }

  75% {
    transform: rotateY(-20deg);
  }
}

/* Animations for mouse hover event on the social links images. */
@keyframes socialLinkEnlarge {
  50% {
    transform: rotateY(400deg);
  }
}

/* Animations for mouse hover event on the page nagivation buttons. */
@keyframes btnsHover {
  0% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px rgb(0, 0, 0);
  }

  50% {
    background-color: rgb(231, 126, 53);
    text-shadow: 0px 2.5px rgb(0, 0, 0);
    box-shadow: 0px 0px black;
    color: rgba(0, 0, 0, 0);
  }

  75% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px rgb(0, 0, 0);
  }

  100% {
    color: rgba(0, 0, 0, 1);
  }
}

/* A fade in animation for the scroll button. */
@keyframes scrollBtnAppear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* An animation for mouse hover event on the News heading. */
@keyframes newsTitleHover {
  50% {
    background-color: rgba(0, 0, 150, 0.5);
  }
}

/* An animation for mouse hover event on the Gallery heading. */
@keyframes galleryTitleHover {
  50% {
    background-color: rgba(245, 81, 0, 0.6);
  }
}

/* An animation for mouse hover event on each of the gallery images. */
@keyframes galleryHover {
  50% {
    transform: scale(1.1);
    border-color: rgb(255, 191, 0);
  }
}

/* An animation for mouse hover event on the links of the footer. */
@keyframes footerLink {
  50% {
    color: white;
  }
}

/* Animation for mouse hover on the copyright. */
@keyframes footerAnim {
  0% {
    color: rgb(208, 208, 208);
    text-shadow: 3px 1px rgb(0, 0, 0);
  }

  50% {
    color: rgb(28, 89, 150, 0.1);
    text-shadow: 3px 1px rgb(255, 255, 255);
  }

  100% {
    color: rgb(208, 208, 208);
    text-shadow: 3px 1px rgb(0, 0, 0);
  }
}

/* A media query for wider monitors */
@media only screen and (max-width: 1200px) {
  .mainPanel1 {
    height: auto;
  }

  #logo {
    max-width: 100%;
  }

  .headerSocial {
    width: 30%;
  }

  nav {
    width: 60%;
    justify-content: space-around;
  }

  #btns li {
    transform: scale(0.8);
  }

  .container {
    display: block;
  }

  #leftPanel, main, #rightPanel {
    border-radius: 25px;
    width: 80%;
    margin: 0 auto 5% auto;
  }

  #leftPanel h3, main h3, #rightPanel h3 {
    font-size: 1.9em;
    border-radius: 1%;
  }

  #leftPanel p, main p, #rightPanel p {
    margin: 0;
    padding: 2% 3%;
    font-size: 1.3em;
    line-height: 1.3em;
    overflow: auto;
  }

  .newsAndGallery {
    height: auto;
  }

  .newsInfo {
    height: 200px;
    overflow: auto;
  }

  .newsInfo img {
    display: none;
  }

  @media only screen and (max-width: 800px) {
    .mainPanel1 {
      height: auto;
    }

    .headerSocial {
      width: 30%;
    }

    .headerSocial a img {
      max-width: 14%;
    }

    #reddit {
      max-width: 9.5%;
    }

    .scrollButton {
      top: 0;
      right: 6%;
    }

    .newsAndGallery {
      height: auto;
    }

    .footerContainer {
      display: flex;
      flex-direction: column;
    }
  }

  @media only screen and (max-width: 600px) {
    .mainPanel1 {
      height: auto;
    }

    #leftPanel, main, #rightPanel h1 {
      font-size: 0.6em;
    }

    #btns li a {
      font-size: 1em;
      box-shadow: 1px 1px black;
    }

    .scrollButton {
      top: 0%;
      right: 5%;
    }

    #scrollToTop span {
      font-size: 0.9em;
      text-shadow: 1px 1px black;
    }

    #scrollToTop {
      width: 4em;
      height: 12vh;
    }
  }

  /* A media query for mobile users */
  @media only screen and (max-width: 500px) {
    .mainPanel1 {
      height: auto;
    }

    .container {
      display: block;
    }

    #logo {
      position: absolute;
      max-width: 70%;
      margin-left: 13%;
    }

    nav {
      width: 100%;
      margin: 10% auto 20% auto;
    }

    #btns li {
      transform: scale(1);
    }

    .headerSocial {
      float: none;
      margin: 25% auto 10% auto;
      width: 100%;
      display: flex;
    }

    .headerSocial a img {
      max-width: 60%;
    }

    #reddit {
      max-width: 30%;
      margin: 7% 0 0 30%;
    }

    #leftPanel, main, #rightPanel {
      width: 100%;
      margin-bottom: 10%;
      font-size: 0.8em;
      height: auto;
    }

    #leftPanel h3, main h3, #rightPanel h3 {
      font-size: 2.3em;
    }

    #leftPanel p, main p, #rightPanel p{
      text-indent: 0;
      padding: 4% 6%;
      background-color: rgba(0, 0, 0, 0.7);
      font-size: 1.4em;
    }

    .scrollButton {
      top: 0;
      right: 10%;
    }

    #scrollToTop {
      font-size: 0.9em;
      height: 5vh;
    }

    #btns {
      width: 100%;
      margin: 3% auto;
    }

    #btns li a {
      font-size: 1em;
    }

    nav {
      display: flex;
      justify-content: center;
    }

    .newsAndGallery {
      height: 110vh;
    }

    #news h4, #gallery h4 {
      font-size: 2.2em;
      margin-bottom: 20%;
      width: 80%;
      text-shadow: 1px 1px black;
    }

    #news {
      display: flex;
      flex-direction: column;
    }

    .newsInfo {
      margin-bottom: 20%;
    }

    .newsInfo p {
      font-size: 1em;
    }

    .newsInfo img {
      display: none;
    }

    .pictures {
      display: flex;
      flex-direction: column;
    }

    #picture1 {
      max-width: 100%;
    }

    #picture2 {
      max-width: 90%;
    }

    #picture3 {
      max-width: 100%;
    }

    #picture4 {
      max-width: 90%;
    }

    #picture5 {
      max-width: 80%;
    }

    #picture6 {
      max-width: 90%;
    }

    .footerContainer {
      display: flex;
      flex-direction: column;
      padding-top: 5%;
    }

    .footerContainer a {
      margin-bottom: 3%;
    }

    footer {
      padding: 0;
    }
  }
